/**
$black: #000000;
$blue: #115ea7;
$darkBlue: #034977;
$cyan: #178ddf;
$gray: #737373;
$lightGray: #F1F1F1;
$mediumGray: #C7C7C7;
$green: #0d8245;
$orange: #f15722;
$red: #ff0000;
$white: #FFFFFF;
$yellow: #ffed00;
$lightYellow: #Fdcf77;
$darkYellow: #FCA40A;
$lightBlue: #0299fe;
*/
a {
  text-decoration: none;
}

.stars {
  color: #115ea7;
}

#heroWrapper {
  display: none;
}

.wrapper {
  width: 100% !important;
}

.content {
  width: 100%;
}

#content_wrapper {
  padding: 0;
}

.container {
  width: auto !important;
  max-width: 992px;
}

img {
  width: 100%;
}

.filterColumn-wrapper {
  max-width: 15rem;
}

span {
  font-size: 1rem;
}

.errorMsg {
  display: none;
}

.pagination_filter {
  display: none !important;
}

#product-grid-view .pagination {
  display: none;
}

.hidden {
  display: none !important;
}

#product-grid-view {
  width: 100%;
}

.pagination {
  display: block;
  text-align: right;
}

.pagination li {
  border: 1px solid #737373;
  display: inline-block;
  width: auto;
}

.pagination li.selected {
  background: #115ea7;
}

.pagination li.selected a {
  color: #FFFFFF;
}

.pagination li a {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.4rem 1rem;
  display: inline-block;
  color: #115ea7;
}

.pagination li a:hover {
  background: #F1F1F1;
  color: #115ea7;
}

.pagination .previous, .pagination .next {
  display: none;
}

#sortByDrop .sorttrigger:after {
  content: "";
}

#sortByDrop .sortMenu {
  width: 100%;
  background: #F1F1F1;
}

#sortByDrop .sortMenu span {
  display: block;
  font-size: 1rem;
}

#sortByDrop.closed .sortMenu {
  display: none;
}

/*MAIN ITEM LISTS*/
.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.items div.saleItem {
  width: 50%;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 0;
  height: 314px;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .items div.saleItem {
    width: 33.333%;
  }
}

@media screen and (min-width: 992px) {
  .items div.saleItem {
    width: 25%;
  }
}

.items div.saleItem .flyout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.items div.saleItem .thumb {
  margin: 0.5rem;
  border: 1px solid #C7C7C7;
  height: 19rem;
  -webkit-animation: slider 3s ease-in-out forwards;
          animation: slider 3s ease-in-out forwards;
}

.items div.saleItem .quantityLeft {
  background: #115ea7;
  color: #FFFFFF;
  padding: 0.5rem;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items div.saleItem .imgContainer {
  position: relative;
  display: table;
  height: 185px;
  width: 100%;
  text-align: center;
}

.items div.saleItem .imgContainer img {
  max-width: 175px;
  max-height: 175px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.items div.saleItem .name {
  font-size: 1rem;
}

.items div.saleItem .subtitle {
  display: none;
  color: #737373;
}

.items div.saleItem .contents {
  position: relative;
}

.items div.saleItem .infoContainer {
  height: 3.7rem;
}

.items div.saleItem .actionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #F1F1F1;
}

.items div.saleItem .left-section, .items div.saleItem .right-section {
  width: 50%;
}

.items div.saleItem .msrp {
  display: none;
}

.items div.saleItem .salePrice {
  font-size: 1rem;
  font-weight: bold;
}

.items div.saleItem .addtoBag {
  display: none;
  text-align: center;
}

.items div.saleItem.on {
  z-index: 5;
}

.items div.saleItem.on .thumb {
  border-color: #737373;
  height: auto;
}

.items div.saleItem.on .infoContainer {
  height: auto;
}

.items div.saleItem.on .subtitle {
  display: block;
}

.items div.saleItem.on .addtoBag {
  display: block;
}

@-webkit-keyframes slider {
  form {
    background: blue;
  }
  to {
    background: yellow;
  }
}

@keyframes slider {
  form {
    background: blue;
  }
  to {
    background: yellow;
  }
}
/*# sourceMappingURL=landing-page-template.css.map */