@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
/*FOOTER OVERRIDE*/
#footer {top:0rem!important;}
.footer-top-section{
    display: flex;
    justify-content: space-between;
}
#footerGoogleBadge {position: absolute;bottom: 2rem;}
#footer .aboutSonic .toggleButton {background: #178ddf !important;}
#footer .aboutSonic .contentContainer {background: #178ddf !important; border:none !important;}
#footer .aboutSonic .contentContainer p {font-size: 1rem !important;}
#footer .legal {padding:2rem !important;}
#footer .legal > span, #footer .legal > a { color: #FFFFFF !important; font-size: 1rem !important; display:block !important;padding: 3px;text-align: center;}
#footer .legal {border:none !important;}
#footer .innerWrap {background:none !important;}
.information .flex-wrap {display:flex !important;}
.information .flex-wrap > div {width: 25% !important;}
#footer .information .links {width: 100% !important;}
.trackmyorder, .call-expert { width: 50%; padding: 0.5rem; text-align: center;}
.trackmyorder a, .call-expert a { font-size: calc(1rem + 0.5vw); text-decoration: none; }
.trackmyorder a:hover, .call-expert a:hover { text-decoration: underline; }
.pt-4 {padding-top: 1rem;}
.footer-social-section {padding:1rem; text-align: center;}
.footer-social-section a {margin: 1rem; }
.custom-mw-4 {max-width:4rem;}
.section span.h4 {color: #FFFFFF !important; margin-bottom:5px;font-family: 'Ubuntu', sans-serif !important;display:inline-block;font-size: 1.3rem;}
/*FOOTER END*/
a:not(.orangeButton), p { font-family: 'Open Sans', sans-serif !important;}
.itemCount {position: absolute;top: -7px;left: 5px;width: 20px;height: 20px;background: #FCA40A;color: #000000;font-weight: bold;border-radius: 100%;z-index: 2;}
.itemCount>span {position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);font-size: 12px;}
.bg-yellow {background: #FCA40A !important;} 
.bg-blue {background: #115ea7 !important;}
.bg-dark-blue {background: #034977 !important;}
.bg-blue-gradient {background-image: linear-gradient(#0299fe, #115ea7) !important;color: #FFFFFF !important;}
.bg-gold-gradient {background-image: linear-gradient(#Fdcf77, #FCA40A) !important;color: #000000 !important;}
.bg-white-gradient {background-image: linear-gradient(#FFFFFF, #C7C7C7) !important;}
.bg-gray {background: #737373 !important;}
.bg-lightgray {background: #F1F1F1 !important;}
.bg-none {background: none !important;}
.text-link, .text-blue {color: #115ea7 !important;}
.text-black {color: #000000 !important;}
.text-white {color: #FFFFFF !important;}
.position-absolute {position: absolute !important;}
.position-relative {position: relative !important;}
.breadcrumbs {color:#115ea7!important; margin:10px !important;}
.categorySideNavigation>.categoriesList a:hover {color:#C7C7C7!important;}
.breadcrumbs a:hover {color: inherit!important;text-decoration: underline;}
#footer .information .links a, #footer .information .links h3 {color:#FFFFFF !important;}
#footer .information .links a:hover, #footer .information .links a:focus, #footer .information .links a:active {text-decoration:underline;}
#productPanes a:not(.greyButton), .relatedSearches a, .summaryContent a, .toWishlist a, .changeLink a, afgVehicleSelectorNew a, span.readguide, li.catItemWrapper a, div#categoryContentWrapper .content_table a, .vehicleSpecificAccessoriesContainer a:not(.orangeButton, .btn), #content_wrapper .catThumbCell a {color: #115ea7 !important;}
.orangeButton, .checkoutMain, .addAcessory {background-image: linear-gradient(#Fdcf77, #FCA40A);color: #000000 !important;border: 1px solid #b47f00 !important;}
.orangeButton:hover, .checkoutMain:hover, .addAcessory:hover {background-image: linear-gradient(#FCA40A, #Fdcf77) !important;}
.yellowButton, .greenButton, .make_offer, .addAcessory.remove {background-image: linear-gradient(#737373, #000000) !important;color: #FFF !important;border: 1px solid #C7C7C7 !important;}
.yellowButton:hover, .greenButton:hover, .addAcessory.remove:hover {background-image: linear-gradient(#000000, #737373)!important;}
.blue-btn, .blue-btn-unique, a.select-vehicle.afgSelectVehicleNewBtn  {
    background-image: linear-gradient(#0299fe, #115ea7)!important;
    color: #FFFFFF !important;
    border: 1px solid #0299fe !important;
}
.blue-btn-unique {
    left: 1rem;
    right: 1rem;
    padding: 10px;
    bottom: 1rem;
    text-align: center;
    font-size: 1rem;
}
.blue-btn:hover, .blue-btn-unique:hover, a.select-vehicle.afgSelectVehicleNewBtn:hover {background-image: linear-gradient(#115ea7, #0299fe)!important;}
.buyWithPaypal {border:2px solid !important;}
.productName a {color: #115ea7!important;font-weight: bold;}
.overflowAnchor {color:#737373 !important; padding:2px 5px !important; font-weight:bold;border:1px solid;}
.categoryLeafTable .productRow .productMedia .mediaLinks a {color:#115ea7!important;}
#productContainer > .header > h1 {color: #115ea7!important;}
#freeInstallationAccessories,.seeMore {background: #115ea7 !important;}
.afg-content .checkVehicleFit .checkVehicleAnchor {color: #115ea7 !important;}
#productContainer .belowTheFold > .main #productTabs .tab > a {background: #737373 !important;color:#FFFFFF!important;}
#productContainer .belowTheFold > .main #productTabs .tab > a:hover,#productContainer .belowTheFold > .main #productTabs .tab > a:focus {background: #C7C7C7 !important; color:#000000 !important;}
#productContainer .belowTheFold > .main #productTabs .tab.active > a {background:#115ea7 !important;color:#FFFFFF!important;}
#productContainer .belowTheFold > .main #productTabs .tab.active > a:after {    content: "" !important;width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #115ea7;top: 100%;}
#accessoryToolsAndProducts .tabs .tab a {background:#115ea7 !important; color:#FFFFFF !important;}
#accessoryToolsAndProducts .tabs .tab a:hover {background:#737373 !important;}
#accessoryToolsAndProducts .tabs .tab.active a {background:#737373 !important;}
.promotionalContent div p { margin:0 !important; padding:10px 0;}
.ui-tooltip, .qtip {border-radius: 10px !important;}
.ui-tooltip-tipped .ui-tooltip-content {background: #737373ed !important;color: #FFF !important;border-color: #737373 !important;border-radius: 3px !important;border: none !important;padding:1rem !important;}
.guidedBrowsingSliderWrapper .slider, .guidedBrowsingSliderWrapper .slider .ui-slider-range {
    background: url('https://www.sonicelectronix.com/landing/New-icons/new-img/PriceSliderBar.png') no-repeat;
}
.guidedBrowsingSliderWrapper .slider .ui-slider-handle {
    background: url('https://www.sonicelectronix.com/landing/New-icons/new-img/PriceSliderCircle.png') no-repeat;
    background-size: contain;
    top: -7px !important;
}
.guidedBrowsingSliderWrapper .slider .ui-slider-handle.ui-state-focus {
    outline:none !important;
}
.guidedBrowsingSliderWrapper .left, .guidedBrowsingSliderWrapper .right {background: none !important;}
.clear_all {background: #115ea7 !important; }
.shoppingCart a .itemCount > span {background: none !important; color:#000000 !important;}
#mainInformation .productPoints .freeShipping p {color:#115ea7!important; font-weight:bold; animation: blink 1s step-start 0s infinite;-webkit-animation: blink 1s step-start 0s infinite;}
.afg-content .drop-down-container.success .select2-container--default{box-shadow: 0px 0px 4px 0px #0d8245;}
.afg-content .drop-down-container.error .select2-container--default{box-shadow: 0px 0px 4px 0px red !important; border-color: red !important;}
.afg-content .drop-down-container.error .errorMessage{color: red !important;}


@keyframes blink {
    50% {
      opacity: 0.0;
    }
  }
  @-webkit-keyframes blink {
    50% {
      opacity: 0.0;
    }
  }